


@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/Open Sans.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('../Fonts/Cinzel.ttf') format('truetype');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('../Fonts/Dancing Script.ttf') format('truetype');
}
@font-face {
    font-family: 'Didact Gothic';
    src: url('../Fonts/Didact Gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Grand Hotel';
    src: url('../Fonts/Grand Hotel.ttf') format('truetype');
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../Fonts/Great Vibes.ttf') format('truetype');
}
@font-face {
    font-family: 'Lora';
    src: url('../Fonts/Lora.ttf') format('truetype');
}
@font-face {
    font-family: 'Milonga';
    src: url('../Fonts/Milonga.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src: url('../Fonts/Oswald.ttf') format('truetype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../Fonts/Pacifico.ttf') format('truetype');
}
@font-face {
    font-family: 'Trocchi';
    src: url('../Fonts/Trocchi.ttf') format('truetype');
}
@font-face {
    font-family: 'Parisienne';
    src: url('../Fonts/Parisienne.ttf') format('truetype');
}
@font-face {
    font-family: 'PinyonScript';
    src: url('../Fonts/PinyonScript.ttf') format('truetype');
}
