body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background-color: #EEE;
}

h3 {
    font-size: .9em;
    text-align: center;
    margin-bottom: 2em;
    color: #525252;
}

.g-recaptcha {
    display: none;
}

/*--M-CANVAS-------------------------------------------------------------------------------*/
m-canvas {
    display: block;
    margin: 1em;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
            box-shadow: 0 2px 5px rgba(0,0,0,.25);
    overflow: hidden;
    position: relative;
    transform: scale(.5);
}
    m-canvas m-handles,
    m-canvas m-elements {
        position: relative;
    }
        m-canvas m-elements img,
        m-canvas m-handle {
            position: absolute;
            max-width: initial;
        }

/*----------------HANDLES---------------*/
m-handle.loading {
    background-color: rgba(255,255,255,.85);
}
m-handle.ui-droppable-hover,
m-handle:hover {
    border: 1px dashed #00AEEF;
    background-color: rgba(255,255,255,.25);
    cursor: pointer;
}
m-handle:active {
    border: 1px dashed #00AEEF;
    cursor: move;
}
m-handle span {
    opacity: 1;
    font-size: 12px;
    float: left;
}
m-handle h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    margin: 0;
}
m-handle.dragging .handleDiv {
    left: -1000% !important;
}
m-handle .handleDiv {
    color: #00AEEF;
    background: rgb(255,255,255);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(69,69,69,.25);
            box-shadow: 0px 0px 5px 1px rgba(69,69,69,.25);
    left: 0%;
    top: -100000%;
    position: relative;
    border: 1px solid #A7A9AC;
    opacity: 0;
}
m-handle .handleDiv:after {
    content:'';
    display: inline-block;
    width:0;
    height:0;
    border: 7px solid transparent;
    vertical-align: middle;
    border-top-color: #FFF;
    position: absolute;
    top: 100%;
    left: 10%;
}

    m-handle m-button {
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        position: absolute;
        opacity: 0;
        width: 100%;
        max-width: 100%;
    }
        m-handle:hover m-button {
            opacity: 1;
        }

m-handle:hover .handleDiv {
    top: -40px;  
    position: relative;
    display: table;
    padding: 5px 10px;
    width: auto;
    opacity: 1;
}
m-handle.active:hover .handleDiv {
    opacity: 0;
}
m-handle.active {
    border: 1px dashed #00AEEF;
}
m-handle.active .ui-resizable-handle {
    background-color: #00AEEF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 8px;
    height: 8px;
}
.ui-resizable-helper { 
    border: 1px dotted #00F;
}
.ui-resizable-e, .ui-resizable-w {
    top: calc(50% - 4px);
}
.ui-resizable-e {
    cursor: e-resize;
    right: -5px;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    left: -5px;
    height: 100%;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
/*----------------HANDLES---------------*/

/*----------------CENTER LINE----------*/
m-linecenterdisplay {
    width: 1px;
    margin-top: 0;
    height: 100%;
    background-color: #00AEEF;
    z-index: 10000;
    position: absolute;
}

m-linecenterdisplayvisible {
    width: 1px;
    margin-top: 0;
    height: 100%;
    opacity: .5;
    border: .5px dashed red;
    z-index: 10000;
    position: absolute;
}

m-linecenter {
    width: 1px;
    margin-top: 0;
    height: 100%;
    background-color: transparent;
    position: absolute;
}
/*----------------CENTER LINE----------*/
/*--M-CANVAS-------------------------------------------------------------------------------*/

/*--M-AUTHENTICATION-------------------------------------------------------------------------------*/
m-authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /*background-image: url('../Images/Background/blue.svg');*/
    background-position: center center;
    background-size: cover;
}
/*--M-AUTHENTICATION-------------------------------------------------------------------------------*/

.icon-plus,
.icon-plus-math,
.icon-plus-sign,
.icon-minus,
.icon-subtract,
.icon-line-in-square,
.icon-download,
.icon-more,
.icon-more-info,
.icon-hamburger-button,
.icon-three-dots-symbol,
.icon-delete-button,
.icon-delete,
.icon-delete-2,
.icon-delete-3,
.icon-edit,
.icon-create,
.icon-search,
.icon-notification {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-plus > svg,
.icon-plus-math > svg,
.icon-plus-sign > svg,
.icon-minus > svg,
.icon-subtract > svg,
.icon-line-in-square > svg,
.icon-download > svg,
.icon-more > svg,
.icon-more-info > svg,
.icon-hamburger-button > svg,
.icon-three-dots-symbol > svg,
.icon-delete-button > svg,
.icon-delete > svg,
.icon-delete-2 > svg,
.icon-delete-3 > svg,
.icon-edit > svg,
.icon-create > svg,
.icon-search > svg,
.icon-notification > svg {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    vertical-align: -0.1em;
}



